doctype html
html
  head
    meta(charset='utf-8')
    title 物我
    meta(name='viewport', content='initial-scale=1, maximum-scale=1')
    link(rel='stylesheet', href='/static/styles/bundle.min.css?#{css_md5}')
  body(ontouchstart='')
    #app(onclick='')
    #popup_container(onclick='')
    #progress_container
    #toast_container
  script.
    window.user_id='!{user_id}';
    window.js_params = !{ js_params };
  script(src='/static/scripts/bundle.min.js?#{js_md5}')
