doctype html
html
  head
    meta(charset='utf-8')
    title 物记
    meta(name='viewport', content='initial-scale=1, maximum-scale=1')
  body(ontouchstart='')
    #app(onclick='')
    #popup_container(onclick='')
    #progress_container
    #toast_container
  script.
    window.user_id='!{user_id}';
    window.sub_status= !{sub_status};
    window.js_params = !{ js_params };
  script(src='/static/scripts/bundle.min.js?#{js_md5}')
